body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: cornsilk;
}

.quiz-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 20px 10px #00000033;
  background-color: cyan;
  text-align: center;
  margin-top: 150px;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

#next-btn {
  display: none;
  color: black;
  background-color: chartreuse;
}
#next-btn:hover {
  background-color: blueviolet;
}
h1 {
  color: brown;
}
#question {
  color: black;
  font-size: medium;
}
